.profile-tabs {
  border-style: solid;
  border-width: 2px;
  border-color: $pink-color;
  border-radius: 7px;
  margin-top: 45px;

  li > a {
    @include font-open-sans(800);
    background-color: $pink-color;
    color: white;
    border-style: none;

    &:hover {
      background-color: $pink-color;
      color: white;
    }
  }

  .active {
    border-style: none;
    background-color: $dark-background-purple;
  }
}

.profile-title {
  font-size: 24px;
  @include font-open-sans(300);
  margin-bottom: 25px;
}

.upload-image-block {
  display: inline-block;
}

.profile-image {
  margin-bottom: 15px;
}

.profile-forms {
  label {
    font-size: 16px;
    color: white;
    @include font-open-sans(300);
  }

  input {
    border: none;
    border-radius: 0% 0%;
    background-color: white;
    opacity: 0.6;
    font-size: 16px;
    color: #0A032B;
    @include font-open-sans(300);
  }
}

.subscription-information {
  display: inline-block;
  margin-top: 25px;
}

.credit-card-table {
  font-size: 16px;
  color: white;
  @include font-open-sans(300);

  margin-top: 45px;
  margin-bottom: 20px;
  max-width: 40%;
  margin-right: 30%;
  margin-left: 30%;

  td#row-1 {
    width: 20%
  }

  td#row-2 {
    width: 70%
  }

  td#row-3 {
    width: 10%
  }
}

.cc-table-title {
  font-size: 24px;
  @include font-open-sans(300);
  text-align: left;
  line-height: 1.8em;
}

.remove-credit-card > .fa {
  color: $button-pink;
}

.tab-contents {
  display: none;
}

.tab-contents-active {
  display: block;
}

.clear {
  clear: both;
}

.profile-information-form {
  margin-bottom: 20px;

  input.ng-invalid {
    border-style: solid;
    border-width: 3px;
    border-color: $form-error-yellow;
  }
}

.password-change-form {
  input.ng-invalid {
    border-style: solid;
    border-width: 3px;
    border-color: $form-error-yellow;
  }
}

.password-change-form {
  margin-bottom: 45px;
  margin-top: 15px;
}

.center-wrapper {
  text-align: center;
}

.form-error-msg {
  color: #EF051D;
  opacity: 0.8;
}