extends layouts/player_layout

block content
  .container
    .row.album-listings(ng-controller="Collection.controller")
      .col-md-2.single-album-listing(ng-repeat="album in albums")
        .thumbnail.album-thumbnail(id="{{ $index + 1 }}")
          .collection-album-image-container
            img(ng-src="{{ album.albumArtUrl }}")
        .album-information
          a(href="{{ album.url() }}") {{ album.name }}
          .album-info
            a(href="{{ album.url() }}") {{ album.artist }}
          .album-info {{ album.songs.length }} songs