extends layouts/player_layout

block content
  .container
    .row.album-listings
      - for (var x = 0; x < 33; x++)
        .col-md-2.single-album-listing
          .thumbnail.album-thumbnail(id=x)
            .collection-album-image-container
              img(src="/images/album-placeholder.png")
          .album-information
            a(href="/album") Album Name
            .album-info
              a(href="/album") Artist Name
            .album-info X songs