$very-light-background-purple: #2B1339;
$dark-background-purple: #380C77;
$medium-purple: #7B46A3;
$pink-color: #D2287B;
$button-pink: #E5297F;
$overlay-button-size: 42px;
$form-error-yellow: #FFFC00;